:root {
  --color-black: rgb(0  ,0  ,0);
  --color-transparent-black: rgba(0,  0, 0, .5);
  --color-white: rgb(255  ,255  ,255);
  --color-blue: rgb(46, 24, 187);
  --color-pink: rgb(164, 12, 169);
  --font-size-body: 1vw;
  --font-size-title: 2vw;
}

body {
  background-color: var(--color-pink);
  font-family: 'Roboto', Arial, sans-serif;
}

@media screen and (min-width: 0px) {
  header.main_header_container {
    align-items: center;
    background-color: var(--color-transparent-black);
    color: var(--color-white);
    display: flex;
    flex-direction: row;
    font-size: var(--font-size-title);
    height: 80px;
    justify-content: center;
    width: 100%;
  }
  
  div.header_navigation {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
  }
  
  div.header_navigation > a {
    align-items: center;
    color: var(--color-white);
    display: flex;
    height: 50px;
    text-decoration: none;
    margin: 5px;
  }
  
  div.header_navigation > a > li {
    list-style-type: none;
  }
}
