:root {
  --color-black: rgb(0  ,0  ,0);
  --color-transparent-black: rgba(0,  0, 0, .5);
  --color-white: rgb(255  ,255  ,255);
  --color-blue: rgb(46, 24, 187);
  --color-pink: rgb(164, 12, 169);
  --font-size-body-mobile: 2vw;
  --font-size-title-mobile: 2vw;
  --font-size-body-desktop: 1vw;
  --font-size-title-desktop: 2vw;
}

@media screen and (min-width: 0px) {
  main.main_container {
    align-items: center;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  table.table_container {
    align-items: center;
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-body-mobile);
    height: auto;
    text-align: center;
    width: 90%;
  }
  
  table.table_container > tr {
    background-color: var(--color-white);
  }
  table.table_container > tr, td, th {
    padding:  10px;
  }
  
  table.table_container img {
    width: var(--font-size-body-mobile);
  }
}

@media screen and (min-width: 1024px) {

}